@model IEnumerable<Book>
@using OnlineLibrary.Controllers
<link rel="stylesheet" type="text/css" href="~/css/BooksStyle.css">
<div class="class">
    <h1 class="title">Books</h1>
    <form class="AddBook" asp-action="AddingNewBook" asp-controller="Books" method="post">
        <input type="submit" class="btn btn-primary" value="Add new book" />
    </form>
    <div class="books">
        <table>
            <thead>                
                <tr>
                    <th class="columnname1">Title</th>
                    <th class="columnname2">Author</th>
                    <th class="columnname3">Book genre</th>
                    <th class="columnname4">Short dicription</th>
                    <th class="columnname5">Rating</th>
                    <th class="columnname6">Number of views</th>
                    <th class="columnname7">Edit data</th>
                    <th class="columnname7">Delete book</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td class="rowname1">@book.book_name</td>
                        <td class="rowname2">@book.author</td>
                        <td class="rowname3">@book.book_genre</td>
                        <td class="rowname4">@book.short_dicription</td>
                        <td class="rowname5">@book.rating</td>
                        <td class="rowname6">@book.number_of_views</td>
                        <td >
                            <form class="rowname7" asp-action="GetBookId" asp-controller="Books" method="post">
                                <input type="hidden" name="bookId" value="@book.id" />
                                <input type="submit" class="btn btn-primary edit-button" data-id="@book.id" value="Edit" />
                            </form>
                        </td>
                        <td>
                            <form class="rowname8" asp-action="BookDelete" asp-controller="Books" method="post">
                                <input type="hidden" name="bookId" value="@book.id" />
                                <input type="submit" class="DeleteButton" data-id="@book.id" value="Delete" />
                            </form>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>